/* Root pseudoclass custom properties: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
    /* Website Color Scheme */
    --clr-primary: rgba(50, 159, 219, 0.91);
    --clr-secondary: rgba(172, 230, 240, 0.9);

    --clr-neutral-white: rgba(246, 242, 233, 1);
    --clr-neutral-black: rgba(25, 25, 25, 1);
    --clr-neutral-grey: rgba(105, 106, 112, 0.8);

    --fontfamily-primary: Arial, Helvetica, sans-serif;

    --fontweight-thin: 200;
    --fontweight-normal: 400;
    --fontweight-heavy: 700;

    --fontsize-small: 0.6rem;
    --fontsize-normal: 1.1rem;
    --fontsize-large: 2rem;
    --fontsize-title: 3rem;

    --gap: 1rem;
    --flow-spacer: 1em;
}

/* Andy Bell's CSS reset: https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0; /* EDITED */
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  color: var(--clr-neutral-black);
  font-size: var(--fontsize-normal);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* End of Andy Bell's CSS reset: EDITED */

/* COMPOSITION: Macrolevel design choises that defines the skeleton of the webpage and basic composition within components */
/* Page Layout choices */

/* Component Layout choices */
.banner__logo {
    width: 12rem;
}


.header__photos {
    width: fit-content;
}

.header__photo {
    display: inline-block;
}

.main-content__paragraph {
    margin-top: 2rem;
}

.main-content__list {
    padding-left: 1rem;
}

.main-content__table {
    border-collapse: collapse;
    table-layout: fixed;
    width: fit-content;
}

.main-content__table__head__row *:nth-child(3) {
    width: 50%;
}

/* UTILITIES: One job, done well. It performs one logical job: formatting, design, shape, font and element colours  */
.banner-background {
    padding-top: 7rem;
    background-color: var(--clr-primary);
    background-image: url(../images/pattern.png);
}

.title__main {
    font-size: var(--fontsize-large);
}

.title__date {
    font-size: var(--fontsize-small);
}

.header__photo__caption {
    font-size: var(--fontsize-small);   
}

.subtitle__link {
    text-decoration: none;
}

.related-content__article__1 {
    /* padding: 5rem; */
    width: 400px;
    height: 250px;
    background-image: url(../images/monitor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.related-content__article__2 {
    width: 400px;
    height: 250px;
    background-image: url(../images/graph.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Color schemes divided into scalable Design Tokens: allows to apply a specific set of colours without repetition */
.background-primary {
    background: var(--clr-primary);
}

.background-secondary {
    background: var(--clr-secondary);
}

.color-primary {
    color: var(--clr-neutral-black);
}

.color-secondary { 
    color: var(--clr-neutral-white);
}

.color-neutral {
    color: var(--clr-neutral-grey);
}

.text-color-black {
    color: var(--clr-neutral-black);
}

.text-color-grey {
    color: var(--clr-neutral-grey);
}

.text-color-white {
    color: var(--clr-neutral-white);
}

.text-color-secondary {
    color: var(--clr-secondary);
}

.text-small {
    font-size: var(--fontsize-small);
}

.text-large {
    font-size: var(--fontsize-large);
}

/* BLOCKS: component specific rules */

/* EXCEPTIONS: variations to a block */

/* MEDIA QUERIES */
@media screen and (max-width:700px) {
  
}